.poem {
  font-family: "ff-tisa-web-pro", serif;
  padding-left: 5em;

  h1 {
    font-size: 3em;
    font-weight: 400;
  }
  ul {
      padding-left: 0;
      margin-bottom: 2em;

    li {
      list-style-type: none;
      font-size: 1.8em;
      line-height: 1.5;
    }
  }
}
