.poem {
  font-family: "ff-tisa-web-pro", serif;
  padding-left: 5em;

  .container {
    display: flex;
  }

  .title {
    font-size: 3rem;
    font-weight: 400;
  }
  .stanza {
      padding-left: 0;
      margin-bottom: 2em;

    .line {
      list-style-type: none;
      font-size: 1.8rem;
      line-height: 1.5;
    }
  }
}
